:root {
  --secondary-color: rgb(87, 29, 128);
  --secondary-color_t2: rgb(118, 51, 165);
  --primary-color: rgb(167, 223, 184);
  --primary-color_t2: rgb(93, 197, 125);
  --tertiary-color: rgb(247, 157, 22);
}
